# Supabase API Configuration
SUPABASE_URL=https://wtulxzqoitrrthsbdisi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0dWx4enFvaXRycnRoc2JkaXNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5NzU1OTIsImV4cCI6MjEwNjU1MTU5Mn0.WYR34bhO8Rdp7dCXO38chTccHlZxcfuooewdHLQvGhE
