# Supabase API Configuration
SUPABASE_URL=https://wtulxzqoitrrthsbdisi.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Ind0dWx4enFvaXRycnRoc2JkaXNpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA5NzU1OTIsImV4cCI6MjEwNjU1MTU5Mn0.WYR34bhO8Rdp7dCXO38chTccHlZxcfuooewdHLQvGhE

# Cloudflare R2 Configuration
R2_ACCOUNT_ID=2fa2570c33fef6e98f9aa96f72cb3f9e
R2_BUCKET_NAME=media-videos-calendario
R2_ACCESS_KEY_ID=c84df04bc3e21f51b2e214cb58201019
R2_SECRET_ACCESS_KEY=bd6ed6fb7916a69d7d187995c21b4c17503865a680346be4c48c22b2ff56016a
R2_PUBLIC_DOMAIN=https://pub-e8f39860fbdf4f8f965d1dedf95c03dd.r2.dev
R2_ENDPOINT=https://2fa2570c33fef6e98f9aa96f72cb3f9e.r2.cloudflarestorage.com